h1 {
    text-align: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

p {}

.footer {
    width: 100%;
    height: 2.5rem;

    background-color: #e98300;
    color: white;
    text-align: center;
    padding: 2%;
}

.mission {
    font-size: 2rem;
    color: white;
    background: red;
    margin: 1% 10px;
    text-align: center;
    padding: 100px;
}