h1 {
    text-align: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
p {
    text-align: center;
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 30%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e98300;
    color: white;
    text-align: center;
    padding: 2%;
 }