h1, h2, .center-text {
    text-align: center;
}
p {
    text-align: center;
    font-size: larger;
}
.mission {
    font-size: 2rem;
    color: white;
    background: red;
    margin: 1% 10px;
    text-align: center;
    padding: 100px;
}
